tr:nth-child(odd) td:nth-child(odd) {
    background-color: rgb(0, 0, 0);
}

tr:nth-child(even) td:nth-child(even) {
    background-color: rgb(0, 0, 0);
}


.CHESS {
    border: 20px solid rgb(218, 85, 32);
    float: left;
    margin: 30px;

}

.content {
    padding: 20px;
    text-align: center;
}

p:first-of-type {
    color: green;
}

p:nth-of-type(2) {
    color: red;
    font-weight: 600;
}

p:nth-of-type(3) {
    color: blue;
    font-style: oblique;
}

a {
    text-decoration: none;
    color: blue;
    font-weight: 600;
}

*/
/* a::before {
    content: url(./images/extref.png);
}
Первый способ вставить иконку перед ссылкой применила сразу в HTML. Тут второй способ. */



